.Area-contato{
  width: 100%;
  height: 100vh;
  /* background-color: rgb(206, 206, 206, .6); */
  overflow: hidden;
  position: relative;
  /* background: linear-gradient(90deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 99.13%), #6C6B6B; */
background-blend-mode: soft-light, normal;
position: relative;
}


.contatoTitulo{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.contatoTitulo h1{
  font-size: 3rem;
  text-shadow: -0.3rem 0.2rem 12px rgba(0, 0, 0, 0.3);
  color: #000;
}



.ContatoBox{
  width: 100vw;
  height: 90vh;
  display: flex;
}

.infBox{
  width: 40%;
  height: 100%;
}

.infContato{
  width:100%;
  height: 100%;
  padding-left: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.CabecalhoInf{
  color: #000;
  width: 100%;
}

.grupoContato{
  display: flex;
  padding-top: 2rem;
}

.icone{
  /* filter: invert(1); */
  font-size: 1.4rem;
}

.campContato{
  padding-left: 1rem ;
}

.campContato h2{
  color: #000;
}

/* .campContato p{
  filter: invert(1); 
} */




.MensagemBox{
  width: 60%;
  height: 100%;
  padding-left: 7rem;
  position: relative;
}
.formBox{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 1;
  transition: all 1s;
}

.showform.formBox{
  opacity: 0;
}

.formTitulo{
  color: #000;
}
.input-group{
  padding-top: 1rem;
  
}

.input-group input,
.input-group textarea{
  border: 1px solid rgba(0, 0, 0, 0.465);
  outline: none;
  width: 80%;
  height: 2rem;
  border-radius: 4px;
  padding-left: 1rem;
}
.input-group textarea{
 max-width: 80%;
 min-width: 80%;
 max-height: 10rem;
 min-height: 10rem;
 padding-top: 1rem;
}

.input-group input:focus ,
.input-group textarea:focus{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .6);
}

.input-button{
  padding-top: 1rem;
  width: auto;
  
}

.input-button input{
  background: purple;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .5s ;
  color: #fff;
  border-radius: 2px;
}

.input-button input:hover{
  transform: translateY(-4px);
}

.Area-Checkbox{
  position: absolute;
  bottom: 3rem;
  left: 5rem;
  display: flex;
  align-items: center;
  
}

.Area-Checkbox h3{
  color: purple;
  padding-left: 1rem;
}

.checkbox{
 width: 4rem;
 height: 2rem;
 border-radius: 3rem ;
 border: 1px solid rgb(132, 0, 255);
 background-color: #c6c6c7c9;
 position: relative;
 cursor: pointer;
 transition: all 0.5s;
 z-index:97;
}

.bolinha-checkbox{
position: absolute;
height: 100%;
width: 2rem;
border-radius: 50%;
background-color: purple;
}

.showCheckbox .checkbox{
  background-color:rgba(128, 0, 128, 0.678);
}

.showCheckbox .bolinha-checkbox{
  right: 0;
}



.formBoxTrabalho{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 1s;
  position: absolute;
  transform: translateY(-1000px);
  opacity: 0;
}

.showform.formBoxTrabalho{
  transform: translateY(0px);
  opacity: 1;
  top: 2rem;
  z-index: 2;
} 

.formTituloTrabalho{
  color: #000;
}
.input-groupTrabalho{
  padding-top: 1rem;
  
}

.input-groupTrabalho input,
.input-groupTrabalho textarea{
  border: 1px solid rgba(0, 0, 0, 0.465);
  outline: none;
  width: 70%;
  height: 2rem;
  border-radius: 4px;
  padding-left: 1rem;
}
.input-groupTrabalho textarea{
 max-width: 70%;
 min-width: 70%;
 max-height: 10rem;
 min-height: 10rem;
 padding-top: 1rem;
}

.input-groupTrabalho input:focus ,
.input-groupTrabalho textarea:focus{
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, .6);
}

.input-groupTrabalho label{
  color: #fff;
}

.input-buttonTrabalho{
  padding-top: 1rem;
  width: auto;
  
}

.input-buttonTrabalho input{
  background: purple;
  border: none;
  outline: none;
  padding: .5rem 1rem;
  cursor: pointer;
  transition: all .5s ;
  color: #fff;
  border-radius: 2px;
}

.input-buttonTrabalho input:hover{
  transform: translateY(-4px);
}


@media(max-width:991px){
  .ContatoBox{
   flex-direction: column;
   align-items: center;
  }
  .infBox {
    width: auto;
    height: 40%;
    
}
  .infContato{
    padding-left: 0rem;
    justify-content: center;
    align-items: center;
  }
  .CabecalhoInf h2{
    width: 100%;
  }
  .grupoContato{
    width: 100%;
  }

  .MensagemBox {
    width: 100%;
    height: 60%;
    padding-left: 0rem; 
    position: relative;
}

  .formBox{
    justify-content: center;
    align-items: center;
  }

  .input-group{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .formBoxTrabalho{
    justify-content: center;
    align-items: center;
  }

  .input-groupTrabalho{
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .showform.formBoxTrabalho{
    top:0rem;
    padding-bottom:5rem;
  }

}