

.Area-contato{
    width: 100%;
    height: 100vh;
    background-color: rgb(206, 206, 206, .6);
    overflow: hidden;
    position: relative;
}

.sessao-contatos{
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contato{
   height: 30rem;
   width: 25rem;
   border-radius: 2rem;
   box-shadow: -0.6rem -.2rem 5px rgba(0, 0, 0, 0.7);
   cursor: pointer;
   background-color: rgba(0, 0, 0, 0.7);
   position: relative;
   display: flex;
   justify-content: center;
   animation: moveBanner 3s forwards;
}

@keyframes moveBanner{
    0%{
        transform: translateY(40rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}


.contato img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    opacity: .8;
    animation: zoom 5s;
}

@keyframes zoom {
    0%{
       transform: scale(2);
    }

    100%{
        transform: scale(1);
    }
}

.titulo-contato{
    width: 100%;
    height: 30%;
    position: absolute;
    top:0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitulo-contato{
    width: 90%;
    position: absolute;
    height: 70%;
    bottom:3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.titulo-contato h1{ 
    color: #fff;
    text-shadow: -0.3rem -.1rem 1px rgba(0, 0, 0, 0.7);
}

.subtitulo-contato p{
    position: absolute;
    color: #fff;
    text-shadow: -0.3rem -.1rem 1px rgba(0, 0, 0, 0.7);
}




.fechar-form{
    width: 3rem;
    height: 3rem;
    position: absolute;
    z-index: 200;
    right: 2.5rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: #4e07f5;
    border-radius: 30%;
    align-items: center;

}


 .line1{
    transform: rotateZ(-405deg) translate(-0.4rem, 0.3rem);
  }
.line2{
    transform: rotateZ(405deg) translate(-0.3rem, -0.3rem);
  } 



.line1,
.line2{
    width: 80%;
    height: .1rem;
    background-color: #fff;
    box-shadow: .2rem .1rem 6px #000;

}

.formulario-contato{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-100vw;
    transition: all 1s;
}

.show-form .formulario-contato{
    margin-left:0vw;
}

.formulario-contato h1{
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: 2rem;
    z-index: 1;
    font-size: 2rem;
    text-shadow: -0.3rem -.1rem 1px rgba(0, 0, 0, 0.7);
}



.formulario-contato img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.formulario-contato form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    z-index: 1;
}

.input-group{
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    border-bottom: 2px dashed #ffffff;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
  }
  
  .input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
  }
  
  .field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .field:focus ~ label {
    top: 0;
    font-size: 0.7rem;
  }
  
  .field:focus {
    border-bottom: 1px solid;
  }

  .btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 80%;
    height: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
 input,
 textarea{
    color: #fff;
}

.formulario-contato button{
    width: 20rem;
    height: 2rem;
    border: none;
    margin-top: 1rem;
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #9730c3, #20002c); 
    background: linear-gradient(to right, #a52dd8, #20002c); 
    color:#fff;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.formulario-contato button:hover{
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #8f0ec7, #100016); 
    background: linear-gradient(to right, #9c0cda, #0f0014);
}

/* ------------------------------------------------------------------------- */

.fechar-chat{
    width: 2.7rem;
    height: 2.8rem;
    position: absolute;
    z-index: 200;
    right: 1.5rem;
    top: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: #646366;
    border-radius: 30%;
    align-items: center;
}



  

 .line1{
    transform: rotateZ(-405deg) translate(-0.4rem, 0.3rem);
  }
.line2{
    transform: rotateZ(405deg) translate(-0.3rem, -0.3rem);
  } 



.line1,
.line2{
    width: 80%;
    height: .1rem;
    background-color: #fff;
    box-shadow: .2rem .1rem 6px #000;

}

.formulario-contato2{
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: rgba(0, 0, 0, 1);
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    right:-100vw;
    transition: all 1s;
}

.show-contato .formulario-contato2{
    right:0vw;
}

.formulario-contato2 h1{
    position: absolute;
    color: #fff;
    text-transform: uppercase;
    top: 2rem;
    z-index: 1;
    font-size: 2rem;
    text-shadow: -0.3rem -.1rem 1px rgba(0, 0, 0, 0.7);
}



.formulario-contato2 img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 0.6;
}

.formulario-contato2 form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80%;
    z-index: 1;
}

.input-group{
    position: relative;
}

.field {
    background: transparent;
    border: none;
    width: 20rem;
    font-size: 1.5rem;
    border-bottom: 2px dashed #ffffff;
    height: 3rem;
    outline: none;
    margin: 1rem 0;
  }
  
  .input-group textarea {
    padding-top: 1rem;
    max-width: 25rem;
    max-height: 3rem;
  }
  
  .field-label {
    position: absolute;
    left: 0;
    top: 2rem;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
    transition: all 0.3s;
  }
  
  .field:focus ~ label {
    top: 0;
    font-size: 0.7rem;
  }
  
  .field:focus {
    border-bottom: 1px solid;
  }

  .btn-submit {
    font-size: 1.2rem;
    text-transform: uppercase;
    width: 80%;
    height: 2.5rem;
    margin-top: 1rem;
    letter-spacing: 0.2rem;
    cursor: pointer;
    text-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.5);
    box-shadow: 0 0.1rem 0.3rem rgba(0, 0, 0, 0.3);
  }
  
 input,
 textarea{
    color: #fff;
}

.formulario-contato2 button{
    width: 20rem;
    height: 2rem;
    border: none;
    margin-top: 1rem;
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #9730c3, #20002c); 
    background: linear-gradient(to right, #a52dd8, #20002c); 
    color:#fff;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    outline: none;
}

.formulario-contato2 button:hover{
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #8f0ec7, #100016); 
    background: linear-gradient(to right, #9c0cda, #0f0014);
}

 @media(max-width:425px){
    :root{
       font-size: 60%;
    }

    .sessao-contatos{
      justify-content: center;
      flex-direction: column;
    }

    .contato{
      height: 25rem;
      width: 25rem;
      margin:12px;
   }
   
   #link-topo {
       right: .5rem;
   }
}

@media(max-width:768px){
    .contato{
       height: 25rem;
       width: 21rem;
       margin: 20px;
    }

    .fechar-form {
        width: 3rem;
        height: 3rem;
        right: 2rem;
        top: 2rem;
    }
} 