

.Area-Atuacao{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
    /* background: radial-gradient( #111  ,rgba(255, 255, 255, 0.4) 100% ); */
    
}

.sessao-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
}

.sessao-header h1{
    font-size: 3rem;
    text-shadow: -0.3rem 0.2rem 12px rgba(0, 0, 0, 0.3);
    color:  rgb(0, 0, 0);
    /* color: #fff; */
}

.Atuacao-slides{
    height: 80vh;
    width: 100%;
    transition: all 1.5s ;
    box-shadow: 1px 1px 30px 5px rgba(0, 0, 0, .3);
}
.slide{
    width: 100%;
    height: 100%;
    display: none;
    position: relative;
}


  .fade {
    -webkit-animation: fade 1.5s linear;
    animation: fade 1.5s linear;
    
    }

   
     
    @-webkit-keyframes fade {
    from {opacity: .7; }
    to {opacity: 1;}
    }
     
    @keyframes fade {
        from {opacity: .7; }
        to {opacity: 1;}
}   

.slide img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    
}



 .descricao-slide{
    width: 100vw;
    height: 4rem;
    border-radius: 1.2rem;
    position: absolute;
    bottom: 4rem;
   background-color: rgba(0, 0, 0, .4);
   display: flex;
   justify-content: center;
   align-items: center;
}

.descricao-slide h1{
    color: #fff;
    
    text-shadow: 0rem 0rem 3px rgba(0, 0, 0, 0.9);
}





.indicador-slide{
    height: 10vh;
    width: 100%;
    font-size:1rem;
    bottom:0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
   /* background-color: rgba(0, 0, 0, .4); */
   border-radius: 1.2rem;
   /* border: 1px solid purple; */

}


.ponto-indicador-slide{
    cursor: pointer;
    background: transparent;
    transition: all 1.5s ;
    display: flex;
    align-items: center;
    justify-content: center;
    color:#000;
    /* text-shadow: -.1rem 0rem 3px rgba(0, 0, 0, 1); */
}

.ponto-indicador-slide p{
    font-weight: bold;
    white-space: nowrap;
    text-transform: uppercase;
}


    
.ativo, .ponto-indicador-slide:hover
{
    text-shadow: none;   
    transform: scale(1.3);
    /* color: rgb(255, 102, 0);
    border-bottom: 1px solid rgb(255, 102, 0); */
    color: #57088f;
    border-bottom: 1px solid #57088f;
}


.anterior,
.proximo{
    position: absolute;
    background-color: rgba(0, 0, 0, .6);
    padding: 1.4rem;
    cursor: pointer;
    color: #fff;
    top: 50%;
}
.proximo{
    right:0 ;
}
.anterior{
    left: 0;
}

.anterior:hover,
.proximo:hover{
    background-color: rgba(0, 0, 0, .8);

} 


@media (max-width: 991px){
    .Atuacao-slides{
        height: 90vh;
    }
    .indicador-slide{
        height: auto;
        position: absolute;
        bottom: 2rem;
        justify-content: center;
    }
    .ponto-indicador-slide{
    height: 1rem;
    width: 1rem;
     border: 2px solid #57088f; 
     border-radius: 8px;
     box-shadow: -0.1rem -.2rem 5px rgba(0, 0, 0, 0.7);
     margin-left: .5rem;
     margin-right: .5rem; 
    }
    .ponto-indicador-slide p{
        display: none;
        color: none;
    }
    .ativo, .ponto-indicador-slide:hover {
        background-color: #57088f;
        transform:none;
        padding:0rem;
        }
}