@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;1,100&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css");
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');


*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins",serif;
    box-sizing: border-box;
}




html {
    scroll-behavior: smooth;
}



.loader{
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
   
}
.loader img{
    /* box-shadow: 0.4rem .2rem 7px rgba(0, 0, 0, 0.9); */
    border-radius: 50%;
    width: 5rem;
    height: 5rem;

    background: #20002c; 
    background: -webkit-linear-gradient(45deg, #9730c3, #20002c); 
    background: linear-gradient(45deg, #a52dd8, #20002c); 
    
}

.borda-loader{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border-left: 5px solid blue;
    position: absolute;
    background: transparent;
    animation: animaLoader 1s infinite;
    
}

@keyframes animaLoader{
    100%{transform: rotate(360deg);}
}

.loader.hidden{
    animation: loader 1s forwards;
}



@keyframes loader{
    100%{        
        opacity: 0;
        visibility: hidden;
    }
}

header{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.menu-hamburguer{
    top: 1.4rem;
    right: 3rem;
    height: 3rem;    
    width: 7rem;
    position: fixed;
    border: 1px outset #fff;
    border-radius: 3rem;
    color: #fff;
    background: rgb(199, 196, 196, 0.6); 
    transition: all 1s;
    display: flex;
    z-index: 100;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: .6rem .2rem 4px rgba(0, 0, 0, .9);
    cursor: pointer;
}

.show-menu .menu-hamburguer{
    background: none;
    right: 13rem;
    border: none;
    box-shadow:none;
}
.menu-hamburguer p{
    font-weight: bold;
    text-shadow: .1rem .1rem 4px rgba(0, 0, 0, 1);
}
.show-menu .menu-hamburguer p{
    display: none;
}
.hamburguer{
    width: 2rem;
    height: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
    transition: all 1.1s;
}



.hamburguer span {
    position: absolute;
    left: 6rem;
    height: 2rem;
    width: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #a044ff;
    color: #ffffff;
    opacity: 0;
  }
  
  .hamburguer span::before {
    content: "";
    position: absolute;
    border-right: 0.5rem solid #a044ff;
    border-top: 0.5rem solid transparent;
    border-left: 0.5rem solid transparent;
    border-bottom: 0.5rem solid transparent;
    left: -1rem;
  }
  
  .show-menu .hamburguer:hover span {
    opacity: 1;
  }



.show-menu #line1{
    transform: rotateZ(-405deg) translate(-0rem, 0.4rem);
    background-color: #000;
    box-shadow: 0 0  #000;
  }
  .show-menu #line2{
   opacity: 0;
  }
  .show-menu #line3{
    transform: rotateZ(405deg) translate(-0.3rem, -0.8rem);
    background-color: #000;
    box-shadow: 0 0  #000;
  }



.line{
    width: 100%;
    height: .1rem;
    background-color: #fff;
    box-shadow: .2rem .1rem 1px #000;
    transition: all 1s;

}

header{
    background-color: rgba(0, 0, 0, 1);
}

.img-wrapper{
    height: 100vh;
    width: 100%;
    background-image: url("background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation: zoom 15s;
    overflow: hidden;
    opacity: 0.5;
    
}

.img-wrapper img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    opacity: .5;
    animation: zoom 15s;
    display: none;
}
@keyframes zoom {
    0%{
       transform: scale(1.3);
    }

    100%{
        transform: scale(1);
    }
}

.banner{
    position: absolute;
    color: #fff;
    left: 10%;
    top: 35%;
    line-height: 2.5rem;
}

.banner a button{
    margin-top: 1rem;
    padding: 1rem;
    min-width: 10rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background: rgba(251, 251, 251, 0.8);
    box-shadow: -.5rem 0rem 10px rgba(0, 0, 0, 0.541);
    color:#000; 
    opacity: 0;
    animation: moveBanner 4s forwards;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    transition: all .5s;
}

.banner a:hover button{
    background: rgba(251, 251, 251, 0.6);
   
}

.logo{
    display: flex;
    max-height: 10rem ;
    margin-bottom: .5rem;
}

.logo img{
    animation: moveBannerImg 3s forwards ; 
    box-shadow: -0.7rem .2rem 7px rgba(0, 0, 0, 0.9);
    border-radius: 10%;
    width: 9rem;
    height: 7rem;
    margin-right: 2rem;
    opacity: 0;
    /* border: 0.2rem inset  #fff; */
    background: none;
    background: #20002c;  
   background: -webkit-linear-gradient(45deg, #9730c3, #20002c); 
    background: linear-gradient(45deg, #a52dd8, #20002c); 

}

/* @keyframes moveBackgroundImg{
      0%{
       background:rgba(21, 0, 44, 0);
        background: -webkit-linear-gradient(to left, rgba(119, 59, 184, 0.0), rgba(45, 2, 100, 0.0)); 
         background: linear-gradient(to left, rgba(119, 59, 184, 0.0), rgba(49, 2, 99, 0.0));
    }
    
    100%{
        background:rgba(21, 0, 44, 1);
        background: -webkit-linear-gradient(to left, rgba(119, 59, 184, 1), rgba(45, 2, 100, 1)); 
         background: linear-gradient(to left, rgba(119, 59, 184, 1), rgba(49, 2, 99, 1));
    } 



} */


 @keyframes moveBannerImg{
    0%{
        transform: translateY(30rem) rotateY(-200deg);
        transform: scale(20);
    }

    50%{
        opacity: .3;
    }

    100%{  
         opacity: 1; 
    }
} 



.logo h1{
    font-family: "Poppins",serif;
    font-size: 4rem;
    font-weight: 1000;
    text-shadow: -.5rem .2rem 8px rgba(0, 0, 0, 0.9);
    letter-spacing: .2rem;
    opacity: 0;
    animation: moveBanner 3s forwards;
    white-space: nowrap;
    margin-bottom: 1.4rem; 
    line-height: 8rem;
    
}

.banner p{
    line-height: normal;
    font-size: 1.4rem;
    font-weight: 300;
    text-shadow: 0.2rem .2rem 3px rgba(0, 0, 0, 0.9);
    letter-spacing: .1rem;
    opacity: 0;
    animation: moveBanner 3.5s forwards;
}

/* .banner button{
    margin-top: 1rem;
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #9730c3, #20002c); 
    background: linear-gradient(to right, #a52dd8, #20002c); 
    border: 0;
    box-shadow: -.1rem .3rem 10px rgba(0, 0, 0, 0.9);
    padding: 1rem 3rem;
    color:#fff;
    border-radius: 7px;
    text-transform: uppercase;
    cursor: pointer;
    text-decoration: none;
    opacity: 0;
    animation: moveBanner 3s forwards;
    outline: none;
}

.banner button:hover{
    background: #20002c;  
    background: -webkit-linear-gradient(to right, #8f0ec7, #100016); 
    background: linear-gradient(to right, #9c0cda, #0f0014);

} */

@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
        text-shadow: 0.2rem .2rem 3px rgba(0, 0, 0, 0.9);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}

.sidebar{
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    position: fixed;
    top:0;
    right: -20rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 1s;
    opacity: 0.8;
    z-index: 99;
}

.show-menu .sidebar  {
    right: 0;
}


.menu-item{
    margin: 20px;
}

.menu-link{
    font-size: 1.5rem;
    color: #555;
    transition: color .5s;
    position: relative;
}

.menu-link::after{
    content: "";
    width: 100%;
    height: 2px;
    background-color: #6a3093;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: transform .5s;
    transform-origin: left;
    transform: scaleX(0);
}
.menu-link:hover{
    color:#6a3093 ;
}

.menu-link:hover::after{
    transform: scaleX(1);   
}

.social-media{
    position: absolute;
    bottom: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.social-media i{
    border-radius: 50%;
    background-color: #6a3093;
    color:rgba(255, 255, 255,1);
    height: 2.2rem;
    width: 2.2rem;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 1s;
}

.social-media i:hover{
    background-color: #a044ff;
}


  #link-topo{
      position: fixed;
      right: 3rem;
      bottom: 6rem;
      width: 3rem;
      height: 3rem;
      background: #20002c;  
      background: -webkit-linear-gradient(to right, #9730c3, #20002c); 
      background: linear-gradient(to right, #a52dd8, #20002c); 
      display: none;
      justify-content: center;
      align-items: center;
      color:#fff;
      border-radius: .3rem;
      box-shadow: 0 0.1rem 0.6rem #000;
      transition: all 2s;
      z-index: 98;
  }

 
  @media(max-width:425px){
    :root{
        font-size: 60%;
     }
    .logo h1 {
        font-size: 3rem;
        letter-spacing: .1rem;
    }
    .logo img {
        width: 9rem;
        height: 7rem;
        margin-right: 1rem;
    }
    
} 

@media(max-width:768px){
    
      .img-wrapper{
       background-image: none;
    } 
    .img-wrapper img{
        display: block;
    }
} 